@font-face {
    font-family: 'ssf4';
    src: url(../fonts/ssf4_abuket/SSF4\ ABUKET.ttf);
}

@font-face {
    font-family: 'command';
    src: url(../fonts/pilot_command/pilotcommand1_2.ttf);
}
